@import './base/normalize';
@import './layouts/home-background';
@import './layouts/header';
@import './base/typography';
@import './utils/variables';
@import './layouts/contact';
@import './layouts/footer';
@import './layouts/singer';
@import './layouts/services';
@import './layouts/about';

