@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    // background: linear-gradient(to right, #cdf0f4, #1d89af);
}

body {
    max-width: 1440px;
    margin: 0 auto;
}